

<div class="continer" style="padding-top:50px;background-color: #ee696b0e;height:100%;width: 100%; left: 0;position: fixed;
top: 0;">
    <div id="carouselExampleIndicators" data-interval="4000"  class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item col text-center " style="border:none">
          
          <img data-aos="flip-down" class="text-center" src="assets/Login Slider/pubg.png" height="400px" width="400px" alt="First slide">
        </div>
        <div class="carousel-item col text-center " style="border:none">
          <img data-aos="flip-down" class="" src="assets/Login Slider/pubg.png" height="400px" width="400px" alt="Second slide">
        </div>
        <div class="carousel-item col text-center active" style="border:none">
          <img data-aos="flip-down" class="" src="assets/Login Slider/pubg.png" height="400px" width="400px" alt="Third slide">
        </div>
      </div>
    </div>
    <div class="row justify-content-center"> 
      <div>
        <input class="login_btn mr-2" placeholder="03XX1234567" />
      </div>
      <div>
        <button class="subscribe_btn">PLAY NOW</button>
      </div>
    </div>
  
  </div>