
<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="width: 100%; left: 0;position: fixed;
top: 0;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" style="filter: opacity(15%);" src="assets/Games Assets/Candy Crush Saga King/images/1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="filter: opacity(15%);" src="assets/Games Assets/Candy Crush Saga King/images/1.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="filter: opacity(15%);" src="assets/Games Assets/Candy Crush Saga King/images/1.jpg" alt="Third slide">
      </div>
    </div>
  </div> -->

<div class="continer" style="padding-top:50px;background-color: #ee696b0e;height:100%;width: 100%; left: 0;position: fixed;
top: 0;">
    <div id="carouselExampleIndicators" data-interval="2000"  class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item col text-center " style="border:none">
          
          <img data-aos="flip-down" class="img-fluid" src="assets/Login Slider/pubg.png" height="400px" width="400px" alt="First slide">
        </div>
        
        <div class="carousel-item col text-center active" style="border:none">
          <img data-aos="flip-down" class="img-fluid" src="assets/Login Slider/mario.png" height="400px" width="400px" alt="Third slide">
        </div>
        <div class="carousel-item col text-center " style="border:none">
            <img data-aos="flip-down" class="img-fluid" src="assets/Login Slider/pubg.png" height="400px" width="400px" alt="Second slide">
          </div>
      </div>
    </div>
    <div class="row justify-content-center"> 
      <div class="col text-center">
        <input class="login_btn mr-2 mt-2" placeholder="03XX1234567" />
        <button class="subscribe_btn mt-2">PLAY NOW</button>
      </div>
    </div>
    <div class="row justify-content-center mt-2"> 
        <div class="col text-center">
          <small>7 PKR + tax per day</small>
        </div>
      </div>
  
  </div>