

<div class="container">
    <div class="row mt-3">
       <div class="col text-center">
        <img src="https://img.icons8.com/ios-filled/48/000000/controller.png"/>
        <h6 id="brand">Noetic Gaming Portal</h6>
       </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <input  placeholder="03xx1234567"  />
        </div>
        

    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <button class="btn btn-success">Play Now</button>
        </div>
        

    </div>




</div>