#brand{
    font-family: 'Fredoka One', cursive;
    font-size: 31px;
  }
  .bg {
    /* The image used */
    background-image: url("https://images6.alphacoders.com/100/1007853.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p{
    font-family: 'Mulish', sans-serif;
    font-size: 15.5px;
    font-weight: 800;
}

  
h5{
    font-family: 'Quicksand', sans-serif;
    color: rgb(82, 79, 79);
    
}



.msg{
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 900;
    color: ivory;
    background-color: #ee696b;
    padding: 5px;
    border-radius: 35px;
    border: solid #ee696b;
    border-width: 1px 1px;
    width: 120px;
    margin: auto;
    z-index: 99999;
    position:absolute; 
    bottom: -16px;
    left: 50%;
    margin-left:-60px;
    margin-top:-50px;
}
.msg:hover{
    text-decoration: underline;
}

.msg2{
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    font-weight: 900;
    color: #660F56;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 35px;
    border: solid #660F56;
    border-width: 1px 1px;
    width: 120px;
    margin: auto;
    z-index: 99999;
    position:absolute; 
    bottom: -16px;
    left: 50%;
    margin-left:-60px;
    margin-top:-50px; 
}
.msg2:hover{
    text-decoration: underline;
}


.subscribe_btn{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(102, 15, 86) 0%, rgb(238, 105, 107) 100%);
    border-radius: 25px;
    width: 210px;
    padding: 10px;
    color: ivory;
    border : none;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 1000;
    outline: none;
}


 

 small{
     color: #660F56;
     font-size: 10px;
     
 }

 a{
    display: inline-block;
    position: relative;
    mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%) !important;
    mask-size: 200% !important;
    animation: shine 2s linear infinite !important;
    color: ivory;
       
 }
 @keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
  }
 .marketing_lines{
     letter-spacing: 0.15rem;
     color: #660F56;
     line-height: 0.55rem;
 }

 