

  <div  style="padding-top:50px;background-color: #ee696b0e;height:100vh;width: 100%; left: 0;
  top: 0;bottom: 0;">
  <div class="row" style="justify-content: center;margin-top: -30px;margin-bottom: 20px;">
    <img  routerLink="" src="assets/gameController.png" style="outline: none;" height="50px">
  </div>
  <div class="row justify-content-center mt-0"> 
      
    <div class="col text-center">
      <p class="marketing_lines">All premium games in one place</p>
      <p class="marketing_lines">No Advertisement</p>
    </div>
  </div>
          <div>
            <div  class=" col text-center" style="border:none">
              <img  class="img-fluid" src="assets/Login Slider/mario2.webp" style="object-fit: contain;width:100%;height: 325px;"   alt="Third slide">
            </div>
          </div>

      <div class="row justify-content-center"> 
        <div class="col text-center mt-2">
          <button class="subscribe_btn ml-2 mr-2 mt-0"><a #namedElement [href]="'sms:'+shortCode+'?&body=Ngp'+' '+subKeyword">PLAY NOW</a></button>
        </div>
        
      </div>
      <div class="row justify-content-center mt-1"> 
          <div class="col text-center">
            <small>Only pay when you want to play</small>
            <br>
            <small>No subscriptio</small>
            <br>
            <small >{{message}}</small>
          </div>
          
        </div>
    
    </div>
