.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }

  #brand{
    font-family: 'Fredoka One', cursive;
    font-size: 31px;
  }

  p{
    font-family: 'Mulish', sans-serif;
    font-size: 15.5px;
    font-weight: 800;
}
 


/* Media Queries for NavBar */

@media only screen and (max-width: 500px) {
  #brand{
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
  }
}

@media only screen and (max-width: 450px) {
  #brand{
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
  }
  .navbar-toggler{
    font-size: 1.1rem !important;
    padding: .20rem .55rem !important;
  }
}

@media only screen and (max-width: 401px) {
  #brand{
    font-family: 'Fredoka One', cursive;
    font-size: 23px;
  }
  .navbar-toggler{
    font-size: 0.9rem !important;
    padding: .15rem .45rem !important;
  }
}



