<div  class="continer" style="padding-top:50px;padding-bottom:50px;background-color: #ee696b0e;">
  <div id="carouselExampleIndicators" data-interval="10000"  class="carousel slide carousel-fade"  data-ride="carousel">
    <div data-aos="flip-down" class="carousel-inner">
      
      <div   class="carousel-item col text-center" [ngClass]="{'active': isActive == 0}"  style="border:none">
        <img  class="contain" style="object-fit: contain;width:100%;
        height: 300px;" src="assets/Login Slider/angryBird1.png"  alt="First slide">
      </div>

      <div   class="carousel-item col text-center" [ngClass]="{'active': isActive == 1}" style="border:none">
        <img   src="assets/Login Slider/subway.webp"  style="object-fit: contain;width:100%;height: 300px;" alt="Second slide">
      </div>

      <div  class="carousel-item col text-center" [ngClass]="{'active': isActive == 2}"  style="border:none">
        <img src="assets/Login Slider/mario1.png" style="object-fit: contain;width:100%;height: 300px;"   alt="Third slide">
      </div>

      <div  class="carousel-item col text-center" [ngClass]="{'active': isActive == 3}"  style="border:none">
        <img  src="assets/Login Slider/angryBird2.png" style="object-fit: contain;width:100%;height: 300px;"  alt="Third slide">
      </div>

      <div  class="carousel-item col text-center" [ngClass]="{'active': isActive == 4}"  style="border:none">
        <img  src="assets/Login Slider/candy2.png" style="object-fit: contain;width:100%;height: 300px;"   alt="Third slide">
      </div>

      <div   class="carousel-item col text-center" [ngClass]="{'active': isActive == 5}"  style="border:none">
        <img  class="img-fluid" src="assets/Login Slider/mario2.webp" style="object-fit: contain;width:100%;height: 300px;"   alt="Third slide">
      </div>
     

    </div>
  </div>
  <ng-template [ngIf]="permission" [ngIfElse]="login">
    <div class="col text-center mt-5">
      <p class="marketing_lines">Let's Play</p>
    </div>
  </ng-template>
  <ng-template #login>
    <div class="row justify-content-center mt-4"> 
      <div class="col text-center">
        <button class="login_btn mr-2 mt-2" routerLink="login">LOGIN</button>
        <button class="subscribe_btn mt-2" routerLink="subscribe"><a class="sub_shinner">SUBSCRIBE NOW !</a></button>
      </div>
  
    </div>
    <div class="col text-center mt-4">
      <p class="marketing_lines">All premium games in one place</p>
      <p class="marketing_lines">No Advertisement</p>
    </div>
  </ng-template>
  <div class="row justify-content-center mt-5"> 
    <div class="col text-center">
      <img (click)="scroll(target)" class="blink_me" src="assets/Home Page/drop down.png" width="30px" alt="">
    </div>
  </div>
</div>

<!-- New -->

<div #target class="container-fluid" style="padding-top:100px;padding-bottom:100px;background-color: #ee696b0e;">
  <div class="container pt-5" style="position:relative;">
    <img  class="d-inline-block" style="height: 24px;margin-bottom: 5px;" src="assets/Home Page/pink.png" /><h5 class="d-inline-block ">NEW GAMES</h5>
    <div class="row " style="justify-content: center;">
      <ng-container *ngFor="let game of Games;" >
        <div *ngIf="game.tag == 'new'" class="col-6 col-md-6 col-lg-3 mt-5 " data-aos="flip-left"  >
          <div   (click)="onClick(game.id)" class="card"  style="width: fit-content;height:100%;">
            <img class="card-img-top"  src="{{game.imgURL}}" alt="Card image cap"> 
          <div class="text-center">
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <p ><a   style="color: rgba(0, 0, 0, 0.726);" >{{game.title}}</a></p>
            
          </div>
          <div class="small text-center msg">
            {{playmsg}}
          </div>
          </div>
        </div>
      </ng-container>
    </div>
</div>


  
</div>


<!-- Popular -->

<div class="container-fluid"  style="padding-top:100px;padding-bottom:100px;">
  <div class="container" style="position:relative;">
    <img class="d-inline-block" style="height: 24px;margin-bottom: 5px;" src="assets/Home Page/purple.png" /><h5 class="d-inline-block ">POPULAR GAMES</h5>
    <div class="row " style="justify-content: center;">
      <ng-container *ngFor="let game of Games;" >
        <div *ngIf="game.tag == 'popular'" class="col-6 col-md-6 col-lg-3 mt-5 " data-aos="flip-left"  >
          <div   (click)="onClick(game.id)" class="card"  style="width: fit-content;height:100%;">
            <img class="card-img-top"  src="{{game.imgURL}}" alt="Card image cap"> 
          <div class="text-center">
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <p ><a   style="color: rgba(0, 0, 0, 0.726);" >{{game.title}}</a></p>
            
          </div>
          <div class="small text-center msg2">
            {{playmsg}}
          </div>
          </div>
        </div>
      </ng-container>
    </div>
</div>


  
</div>




  <!-- Like -->


<div class="container-fluid" style="padding-top:100px;padding-bottom:140px;background-color: #ee696b0e;">
  <div class="container" style="position:relative;">
    <img class="d-inline-block" style="height: 24px;margin-bottom: 5px;" src="assets/Home Page/pink.png" /><h5 class="d-inline-block ">GAMES YOU MAY LIKE</h5>
    <div class="row " style="justify-content: center;">
      <ng-container *ngFor="let game of Games;" >
        <div *ngIf="game.tag == 'like'" class="col-6 col-md-6 col-lg-3 mt-5 " data-aos="flip-left"  >
          <div   (click)="onClick(game.id)" class="card"  style="width: fit-content;height:100%;">
            <img class="card-img-top"  src="{{game.imgURL}}" alt="Card image cap"> 
          <div class="text-center">
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            <p ><a   style="color: rgba(0, 0, 0, 0.726);" >{{game.title}}</a></p>
            
          </div>
          <div class="small text-center msg">
            {{playmsg}}
          </div>
          </div>
        </div>
      </ng-container>
    </div>
</div>


</div>
