

<h1>NEW GAMES</h1>
<div class="container">
  <div class="row ">
    <div *ngFor="let game of Games;" class="col-md-6 col-lg-4 mt-3">
      <div *ngIf="game.tag == 'new'"  (click)="onClick(game.id)" class="card" (mouseover)="onMouseOver(game2,img2)" (mouseout)="onMouseOut(game2,img2)" style="width: 20rem;height: 22rem;">
        <img class="card-img-top"  src="{{game.imgURL}}" alt="Card image cap">
        <div class="text-center  card-body">
          
          <div class=" card-img-overlay text-center">
            <h4 hidden  #game2 class="msg"></h4>
            <img #img2  style="opacity: 40%;">
            <div class="stars ">
              <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
              <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
              <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
              <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
              <span class="fa fa-star checked" style="margin-right: 0.2rem;"></span>
            </div>
            <p  class="card-title"><a  #title2 href="https://html5.gamedistribution.com/d2a2209a95ea4d55a933c68683e25e94/" style="color: black;" >{{game.title}}</a></p>
            
            
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>